[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
pillow = "*"
drf-nested-routers = "*"
django-allauth = "*"
dj-rest-auth = "*"

[dev-packages]

[requires]
python_version = "3.12"
